#content
{
    max-width: 100%;
    padding: 0;
    padding-bottom: 2em;
}

#content article.hentry,
#content p.paginator
{
    max-width: 800px;
    margin: auto;
}

#content p.paginator
{
    display: flex;
    text-align: center;
}

#content p.paginator span
{
    flex: 1;
}

#article img
{
    max-width: 100%;
}

#post-list
{
    padding: 0;
}

#post-list > li
{
    list-style-type: none;
    margin: 0;

    padding: 4em 14px;
    background-color: transparent;
}

#post-list > li:first-child
{
    padding-top: 0;
}

#post-list li:nth-child(even)
{
    background-color: #F1F6F8;
}

#post-list > li .entry-title a,
#article .entry-title a
{
    text-decoration: none;
}

@media (max-width: 768px)
{
    #post-list > li
    {
        padding-top: 2em;
        padding-bottom: 2em;
    }
}
