/* roboto-regular - latin */
@font-face {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 400;
  src: url('../fonts/roboto-v16-latin-regular.eot'); /* IE9 Compat Modes */
  src: local('Roboto'), local('Roboto-Regular'),
       url('../fonts/roboto-v16-latin-regular.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
       url('../fonts/roboto-v16-latin-regular.woff2') format('woff2'), /* Super Modern Browsers */
       url('../fonts/roboto-v16-latin-regular.woff') format('woff'), /* Modern Browsers */
       url('../fonts/roboto-v16-latin-regular.ttf') format('truetype'), /* Safari, Android, iOS */
       url('../fonts/roboto-v16-latin-regular.svg#Roboto') format('svg'); /* Legacy iOS */
}

body
{
    margin: 0;
    padding: 0;
    height: 100vh;
    font-family: "Roboto", "Helvetica", "Arial", serif;
}

a, a:visited
{
    color: #436CA8;
    text-decoration: none;
}

a:hover, a:active
{
    text-decoration: underline;
}

h1, h2, h3, h4, h5, h6
{
    color: #436CA8;
}

h1 a, h2 a, h3 a, h4 a, h5 a, h6 a,
h1 a:visited, h2 a:visited, h3 a:visited, h4 a:visited, h5 a:visited, h6 a:visited
{
    color: inherit;
}

body > header
{
    height: 50px;
    font-size: 20px;

    background-color: #4344A5;
    background-image: linear-gradient(to right, #4344A5 0%, #438DAA 35%);
    color: white;
    margin: 0;
    padding: 0;

    display: flex;
    flex-shrink: 0;
}

body > header h1
{
    color: white;
}

body > header a
{
    color: white;
    display: inline-block;
    height: 100%;
    line-height: 50px !important;
    vertical-align: middle;
}

body > header a,
body > header a:visited,
body > header a:hover,
body > header a:active
{
    text-decoration: none;
}


body > header a:visited
{
    color: white;
}

body > header li.active a
{
    font-style: italic;
}

body > header a:hover, body > header h1:hover
{
    background-color: rgb(46, 106, 179);
}

body > header h1,
body > header nav,
body > header ul
{
    font-size: inherit;
    margin: 0;
    padding: 0;
    display: inline-block;
    vertical-align: top;
    height: 100%;
}

body > header nav
{
    flex: auto;
}

body > header h1
{
    text-align: center;
    min-width: 150px;
    border-right: 1px solid white;
    padding-left: 15px;
    padding-right: 15px;
}

body > header h1 img
{
    max-height: 75%;
    vertical-align: middle;
    padding-right: 25px;
}

body > header nav
{
    display: flex;
}

body > header > nav *
{
    display: inline-block;
    box-sizing: border-box;
    height: 100%;
}

body > header > nav ul:first-child
{
    flex: auto;
}

body > header > nav ul
{
    display: flex;
    padding: 0;
    margin: 0;
}

body > header > nav ul li
{
    padding: 0;
    text-align: center;
}

body > header > nav ul:first-child li
{
    width: 150px;
    border-right: 1px solid white;
}

body > header > nav ul.social li
{
    width: 50px;
    border-left: 1px solid white;
}

body > header ul li a
{
    width: 100%;
}

main
{
    padding-top: 1em;
    min-height: calc(100% - 50px - 14px - 20px - 1.25em);
}

main > *
{
    padding: 14px;
    max-width: 600px;
    margin: auto;
}

main h1
{
    font-size: 1.5em;
}

main p,
main ul
{
    line-height: 1.5em;
}

main > ul
{
    padding-left: 8em;
    padding-top: 0;
}

.pagination > ul
{
    padding-left: 4em;
    padding-top: 0;
}

/* Home */

#cover {
    height: calc(100vh - 50px);
    width: 100%;
    max-width: initial;
    background-image: url(../images/cover.jpg);
    background-size: cover;
    background-color: #cc9e79;
    box-sizing: border-box;
    margin-top: -1em;
}

#coverContent {
    position: absolute;
    bottom: 10vh;
    width: calc(100% - 2em);
}

#coverContent > * {
    color: white;
    padding: 0;
    text-align: center;
}

#coverContent h1 {
    font-weight: normal;
}

#coverContent span {
    font-size: 1.5em;
}

#cover .next {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    line-height: 0;
    margin: 0;
    font-size: 3em;
    text-align: center;
    color: white;
    padding: 0;
}

#cover .next a {
    color: white;
    text-decoration: none;
}


a.button
{
    display: inline-block;
    color: white;
    border-radius: 5px;
    padding: 0.75em 1em;
    text-decoration: none;
    text-align: center;
    font-size: 2em;
    box-sizing: border-box;
    margin-left: 1em;
    margin-right: 1em;
    padding-left: 1em;
    padding-right: 1em;
}

a.button, a.button:visited, a.button:hover, a.button:active
{
    color: white;
}

a.button.try
{
    background-color: #43a047;
    border: 1px solid #43a047;
}

a.button.install
{
    background-color: #2E6AB3;
    border: 1px solid #2E6AB3;
}

#coverContent a.button.try:hover
{
    color: #43a047;
    background-color: white;
}

#coverContent a.button.install:hover
{
    color: #2E6AB3;
    background-color: white;
}

main > div.features
{
    overflow: auto;
    max-width: none;
    width: 100%;
    min-height: 100px;
    padding: 2em;
    background-color: #F1F6F8;
    box-sizing: border-box;
}

main > div.features:nth-child(even)
{
    background-color: transparent;
}

main > div.features > div
{
    max-width: 1200px;
    margin: auto;
    box-sizing: border-box;
    padding-left: 1em;
    padding-right: 1em;
}

main > div.features .screenshot
{
    width: 55%;
    display: inline-block;
    margin-top: 0;
    margin-bottom: 0;
}

main > div.features .screenshot > img
{
    width: 100%;
    max-height: initial;
    margin: 0;
}

main > div.features
{
    clear: both;
}

main > div.features > div > div
{
    width: calc(100% - 55% - 2em - 4em);
}

main > div.features > div > div > h3
{
    margin-top: 0;
}

main .highlight
{
    padding: 0;
}

main .highlight pre
{
    padding: 14px;
    overflow-x: auto;
}

body > footer
{
    padding: 10px 1em;
    background-color: #444444;
    color: white;
    text-align: center;
}

body > footer p
{
    margin: 0;
}

body > footer a, body > footer a:visited, body > footer a:hover, body > footer a:active
{
    color: white;
}

.smallButton
{
    display: inline-block;
    padding: 10px;
    cursor: pointer;
    background-color: #436CA8;
    color: white;
    text-decoration: none;
    border-radius: 3px;
}

a.smallButton, a.smallButton:visited, a.smallButton:hover, a.smallButton:active
{
    color: white;
}

.smallButton:hover
{
    background-color: #438DAA;
    text-decoration: none;
}

.center {
    text-align: center;
}

.right {
    text-align: right;
}

.icon-mastodon img {
    max-height: 1.5em;
    vertical-align: middle;
}

@media (max-width: 1131px)
{
    body > header,
    body > header nav
    {
        height: auto;
        flex-wrap: wrap;
        overflow: auto;
    }

    body > header h1,
    body > header nav > ul
    {
        border-bottom: 1px solid white;
    }

    body > header h1,
    body > header nav ul
    {
        width: 100%;
        height: inherit;
    }

    body > header nav ul li
    {
        flex: auto;
        width: auto !important;
    }

    body > header > nav ul:first-child li
    {
        font-size: 0.9em;
    }

    body > header nav ul.social li:first-child
    {
        border: 0;
    }

    #cover {
        height: calc(100vh - 150px);
    }
}

@media (max-width: 768px)
{
    main > div.features
    {
        min-width: 100%;
        height: auto;
        padding: 1em;
    }

    main > div.features > div > div
    {
        width: auto;
    }

    main > div.features .screenshot
    {
        display: block;
        width: 100%;
        margin: auto;
        text-align: center;
    }
}

@media (min-width: 768px)
{
    main > div.features:nth-child(odd) > div > div
    {
        float: right;
        margin-left: 2em;
    }

    main > div.features:nth-child(even) > div > div
    {
        float: left;
        margin-right: 2em;
    }
}

@media (max-width: 500px)
{
    #coverContent a.button {
        font-size: initial;
    }
}
